@font-face {
    font-family: 'FZLanTingHei';
    src: url('方正兰亭粗黑.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    transform: scale(0.6638);
    /* 放大页面到120% */
    transform-origin: top left;
    /* 设置变换的基点为页面的左上角 */
}

body,
html {
    width: 1080px;
    height: 1920px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* Hide horizontal overflow */
    overflow-y: hidden;

}

/* 自定义按钮样式，去掉点击效果 */
.btn-no-effect:focus,
.btn-no-effect:active,
.btn-no-effect:hover {
    box-shadow: none;
    /* 去掉阴影 */
    outline: none;
    /* 去掉轮廓线 */
}

.btn-custom:active {
    background-color: #0056b3;
    /* 深蓝色 */
    border-color: #004085;
    /* 边框颜色 */
}

body {
    transform: rotate(-90deg);
    transform-origin: 540px 540px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: fit-content;
}

#details {
    /* padding-left: 16px;
    padding-right: 16px; */
    display: flex;
    /* Use flexbox */
    justify-content: space-between;
    /* Space between the two sections */
    width: 100%;
    height: 360px;
    box-sizing: border-box;
}

.detail-section {
    flex: 1;
    /* Each section takes up equal space */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    /* Just for visual separation */
}

#leftDetail {
    margin-right: 8px;
    /* Adjust this value to increase or decrease the space */
}

#rightDetail {
    margin-left: 8px;
    /* This is optional, only if you need symmetry in certain designs */
}

#svgCanvas {
    flex-grow: 1;
    width: 100%;
    height: 1080px;
    /* Use viewport height units */
    background-color: #eee;
    overflow: auto;
}

.switchdata {
    padding-top: 0px;
    padding-bottom: 12px;
}

h3 {
    font-family: 'FZLanTingHei', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
    color: "#333";
    padding-top: 72px;
    padding-bottom: 80px;

}

.switchdata .btn {
    flex: 1 1 48%;
    /* 这会使每个按钮的宽度尝试占据48%，剩下的4%用于容纳两个按钮之间的间隔 */
    font-size: 16px;
}

.custom-height {
    height: 100px;
    /* 或者你希望的任何其他高度 */
}

.arc-detail text {
    font-size: 10px;
    font-weight: 500;
}

#svgcanvas {
    margin-top: 220px;
    margin-left: 155px;

}

@media (max-width: 576px) {
    .switchdata .btn {
        flex: 1 1 100%;
        /* 在小屏幕上，你可能想让按钮各占一行 */
        margin-bottom: 10px;
        /* 添加一点间隔 */
    }

    .switchdata .btn:last-child {
        margin-bottom: 0;
        /* 最后一个按钮不需要底部边距 */
    }
}

#details {
    display: flex;
    flex-wrap: nowrap;
}

.detail-section {
    flex: 1;
    transition: flex-grow 0.5s ease;
    /* 平滑变化效果 */
    overflow: hidden;
    /* 隐藏非激活的内容 */
    margin: 5px;
    /* 添加间隔，你可以根据需要调整这个值 */

}

.detail-section.hidden {
    flex: 0;
    width: 0;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
}

.tick text {
    font-size: 6px;
    font-weight: 500;
    padding-top: 9px;
    rotate: 30deg;
    text-anchor: start;
}

/* 基本按钮样式 */
.custom-button {
    padding: 10px 20px;
    /* 内边距 */
    font-size: 16px;
    /* 文字大小 */
    color: black;
    /* 文字颜色 */
    background-color: #FAFAFA;
    /* 背景色 */
    border: none;
    /* 无边框 */
    border-radius: 5px;
    /* 圆角 */
    cursor: pointer;
    /* 鼠标指针 */
    outline: none;
    /* 去除焦点轮廓 */
    transition: background-color 0.5s;
    /* 背景颜色过渡效果 */
    margin: 10px;
    width: 48%;
    /* 外边距，控制按钮间的距离 */

}

/* 鼠标悬停和焦点时的样式 */
.custom-button:focus {
    background-color: #f4f4f4;
    /* 悬停或焦点时背景颜色加深 */
}

/* 激活（点击）状态的样式 */
.custom-button:active {
    background-color: #f4f4f4;
    /* 点击时背景颜色更加深 */
}

.tab-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    height: 60px;
    background-color: #fafafa;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 12px;

}

.tab-container input {
    display: none;
}

.tab {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    transition: color 0.3s ease;
    margin: 0 2px;
    /* Add margin between buttons */
}

.tab-container input:checked+label {
    color: #fff;
}

.slider {
    position: absolute;
    top: 2px;
    bottom: 2px;
    width: calc(50% - 4px);
    background-color: #333;
    border-radius: 4px;
    transition: transform 0.3s ease;
    margin: 0 2px;
}

#international:checked~.slider {
    transform: translateX(0%);
}

#domestic:checked~.slider {
    transform: translateX(100%);
}
